.listGroup{
    position: absolute;
    right: 300px;
    top: 0px;
    width:1000px;
    padding: 10px 20px;
    margin: 6% auto;
    border: 1px solid black;
    background-color: gray;
    color: whitesmoke;
}